# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=aircraft_tracking
DB_USER=postgres
DB_PASSWORD=postgres

NOMINATIM_URL=https://nominatim.openstreetmap.org/search
NOMINATIM_USER_AGENT=aircraft-tracking-coursework/1.0 student@example.com

OPEN_SKY_CLIENT_ID=
OPEN_SKY_CLIENT_SECRET=
OPEN_SKY_TOKEN_URL=https://auth.opensky-network.org/auth/realms/opensky-network/protocol/openid-connect/token
OPEN_SKY_API_URL=https://opensky-network.org/api
